body {
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
}

h1 {
    color: #00bbf0;
    font-size: 562.5%;
    line-height: 2;
    margin: 50px auto 0 auto;
    font-family: 'Sacramento', cursive;
}

h2 {
    color: #00bbf0;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    font-weight: normal;
    padding-bottom: 10px;
}

h3 {
    color: #00bbf0;
    font-family: 'Montserrat', sans-serif;
}

p {
    line-height: 2;
}

ul {
    font-family: 'Montserrat', sans-serif;
    line-height: 2;
}


hr {
    border: dotted #EAF6F6 6px;
    border-bottom: none;
    width: 4%;
    margin: 100px auto;
}

.footer-link:link {
    color: #00bbf0;
    font-weight: bold;
    margin: 10px 20px;
    text-decoration: none;
}

.footer-link:hover {
    color: #EAF6F6;
    font-weight: bold;
}

.top-container {
    background-image: url(images/landscape.jpg);
    width: 100%;
    position: relative;
    padding: 100px 0 500px;
}

.mid-container {
    margin: 100px 0;
}

.bottom-container {
    background-color: #00bbf0;
    padding: 50px 0 20px;
    font-family: 'Montserrat', sans-serif;
}

.skill-row {
    margin: 100px auto 100px auto;
    text-align: left;
    width: 50%;
}

.profile-img {
    margin-top: 30px;
    width: 20%;
}
.code-gif {
    float: left;
    margin-right: 30px;
    width: 25%;
}

.controller-img {
    float: right;
    margin-left: 30px;
    width: 25%;
}

.education-img {
    float: right;
    margin-right: 50px;
    width: 25%;
}

.top-cloud {
    position: absolute;
    right: 300px;
    top: 50px;
}

.intro {
    width: 30%;
    margin: auto;
}

.copyright {
    color: #EAF6F6;
    font-size: 0.75rem;
    padding: 20px 0;
}

.bottom-cloud {
    position: absolute;
    left: 300px;
    bottom: 300px;
}

.contact-me {
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 30px;
}

.footer-link {
    font-family: 'Montserrat', sans-serif;
}

.btn {
    background: #00bbf0;
    background-image: -webkit-linear-gradient(top, #00bbf0, #00bbf0);
    background-image: -moz-linear-gradient(top, #00bbf0, #00bbf0);
    background-image: -ms-linear-gradient(top, #00bbf0, #00bbf0);
    background-image: -o-linear-gradient(top, #00bbf0, #00bbf0);
    background-image: linear-gradient(to bottom, #00bbf0, #00bbf0);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}

.btn:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
}
